@font-face {
  font-family: "iconfont"; /* Project id 3540900 */
  src: url('iconfont.woff2?t=1659067058927') format('woff2'),
       url('iconfont.woff?t=1659067058927') format('woff'),
       url('iconfont.ttf?t=1659067058927') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e64e";
}

.icon-guanbi-copy:before {
  content: "\eaf4";
}

.icon-zengsong-copy:before {
  content: "\eaf5";
}

.icon-dengji:before {
  content: "\e621";
}

.icon-banknote-copy:before {
  content: "\e7b5";
}

.icon-xiazai:before {
  content: "\e601";
}

.icon-category:before {
  content: "\e747";
}

.icon-Customermanagement-fill:before {
  content: "\e77c";
}

.icon-qianbao2-mianxing:before {
  content: "\e6e6";
}

.icon-xiazai-copy:before {
  content: "\eaf3";
}

.icon-chenggong-copy:before {
  content: "\e7b4";
}

.icon-gouxuan:before {
  content: "\e641";
}

.icon-arrow-up:before {
  content: "\e743";
}

.icon-arrow-down:before {
  content: "\e7b2";
}

.icon-fuxuankuang-quanxuan:before {
  content: "\e667";
}

.icon-fuxuankuang-weiquanxuan:before {
  content: "\e668";
}

.icon-gouxuan-copy:before {
  content: "\e7b3";
}

