$urlFonts: "//cdn.crystallabs.games/funtopia/cybergear_assets_main/fonts/";
$urlImages: "//cdn.crystallabs.games/funtopia/cybergear_assets_main/images/";
$urlArtists: "//cdn.crystallabs.games/funtopia/cybergear_assets_main/artists/";
