$urlFonts: "//bafybeidx26q5dglmtujjnyi5jzey3wdpdnlpkffjsmxvtaklnsy6twv6fy.ipfs.nftstorage.link/fonts/";
$urlImages: "//bafybeidx26q5dglmtujjnyi5jzey3wdpdnlpkffjsmxvtaklnsy6twv6fy.ipfs.nftstorage.link/images/";
$urlArtists: "//bafybeidx26q5dglmtujjnyi5jzey3wdpdnlpkffjsmxvtaklnsy6twv6fy.ipfs.nftstorage.link/artists/";
