// 字体样式
@font-face {
  font-family: "PingFang";
  src: url("../assets/fonts/PingFang.ttf");
}
@font-face {
  font-family: "CaviarDreams";
  src: url("../assets/fonts/CaviarDreams.ttf");
}
@font-face {
  font-family: "CaviarDreams-Bold";
  src: url("../assets/fonts/CaviarDreams-Bold.ttf");
}

// 中文常规
.fontfamily_zh {
  font-family: PingFang;
}
// 英文常规
.fontfamily_en {
  font-family: CaviarDreams;
}

// 重置滚动条样式
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #825f35;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: #000;
}
input {
  // background: none;
  // outline: none;
  // border: 0px;
  // caret-color: white;
  &[type="number"] {
    -moz-appearance: textfield;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.box_title {
  width: fit-content;
  position: relative;
  padding: 20px;
  span {
    font-size: 32px;
    color: #ffffff;
    background: linear-gradient(180deg, #ffffff 0%, #61f0f5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    &::before {
      content: "";
      width: 5vw;
      height: 100%;
      background: url("../assets/images/title_bg1.png") no-repeat;
      background-size: auto 100%;
      background-position: center left;
      position: absolute;
      left: 0;
      top: 0;
    }
    &::after {
      content: "";
      width: 5vw;
      height: 100%;
      background: url("../assets/images/title_bg1.png") no-repeat;
      background-size: auto 100%;
      background-position: center right;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
